:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  background-color: var(--color-white);
  color: var(--color-slate);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
img{
  display: block;
}


/**
  |============================
  | Header section
  |============================
*/
.header{
  border-bottom: 1px solid #e7e9fc;
}
.container{
  display: flex;
width: 1158px;
padding: 0 15px;
margin: 0 auto;
}
.header-nav{
display: flex;
align-items: center;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-right: 76px;
}
.studio {
  color: var(--color-grey);
}
.menu-list {
  display: flex;
  gap: 40px; 
 }  
  
.list-adres{
  display: flex;
  gap: 40px;
}



.link-one {
  padding: 24px 0;
}

.link-one {
  color: var(--color-grey);
}
.link-one:hover,
.link-one:focus {
  color: var(--color-ocean);
}

.contact {
  color: var(--color-slate);
  text-decoration: none;
  display: flex;
  gap: 40px;
}
.contact:hover,
.contact:focus {
  color: var(--color-ocean);
}
/**
  |============================
  | sektion1
  |============================
*/
.section-one {
  background-color: var(--color-navy-blue);
  padding: 188px 0;
}
.mein-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
  max-width: 496px;
}

.section-one-btn {
  background-color: var(--color-iris);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.section-one-btn:hover {
  background-color: var(--color-ocean);
}
.section-one-btn:focus {
  background-color: var(--color-ocean);
}
.section-one-btn {
  cursor: pointer;
}

/**
  |============================
  | section-two
  |============================
*/
.section-two {
  background-color: var(--color-grey);
  padding: 120px 0;
}
.meny-list{
  display: flex;
  gap: 24px;
}

.meny-title{
  width: calc((100%-72px)/4);

}
.desc {
  color: var(--color-slate);
}
.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue-modal);
  margin-bottom: 8px;
}

/**
  |============================
  | section-3
  |============================
*/
.container{
 padding-bottom: 120px; 

}

.title-thre {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue-modal);
  margin-bottom: 72px;
}
.menu-list{
  display: flex;
  gap: 24px;
}
.meny-title{
  width: calc((100%-48px)/3);
}
/**
  |============================
  | section-4
  |============================
*/

.section-four {
  background-color: var(--color-cloud);
  padding: 120px 0;
}
.title-four-one {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue-modal);
  margin-bottom: 72px;
}
.meny-list {
  background-color: var(--color-white);
 }
.meny-title {
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
}

.title-four {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue-modal);

  text-align: center;
  margin-bottom: 8px;

}

.tit{
  padding: 32px 16px;
}
.desc {
  font-size: 16px;
  color: var(--color-slate);
  text-align: center;
}
/**
  |============================
  | futer section
  |============================
*/
.futer {
  background-color: var(--color-navy-blue);
  color: var(--color-cloud);
  padding: 100px 0;
}

.futer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  background-color: var(--color-navy-blue);
  color: var(--color-iris);
}
.futer-logo{
  display: inline-block;
  margin-bottom: 16px;
}
.stu-dio {
  color: var(--color-cloud);
}
.desc-fute {
  color: var(--color-cloud);
  }

/**
  |============================
  | portfolio header
  |============================
*/
.container{
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.port-header{
  border-bottom: 1px solid #e7e9fc;
}
.logotype {
  font-weight: 800;
  color: var(--color-iris);
}
.nav{
display: flex;
align-items: center;
}
.menu-list{
  display: flex;
gap: 40px; 
}
.link {
  text-decoration: none;
}
.studio {
  color: var(--color-navy-blue);
}
.address {
  font-style: normal;
}
.contact {
  color: var(--color-slate);
  text-decoration: none;
}
/**
  |============================
  | Main
  |============================
*/
.section{
padding: 96px 0 120px;
}
.menu-list{

}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  cursor: pointer;
 
  
}
.btn:hover {
  color: var(--color-white);
  background-color: var(--color-ocean);
}
.btn:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}
.list {
  list-style: none;

}
.list-mai{
  
}
.tit{

}
  

.title-main {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
 
}
.desc-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/**
  |============================
  | futer-portfolio
  |============================
*/
.footer {
  background-color: var(--color-navy-blue);
  color: var(--color-cloud);
}
.logo-futer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 00.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.stud-fut {
  color: var(--color-cloud);
}
